@import "tailwindcss";

@font-face {
  font-family: 'Marianne';
  src: url('/fonts/Marianne_2022/fontes-web/Marianne-Regular.woff2') format('woff2'),
       url('/fonts/Marianne_2022/fontes-web/Marianne-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Marianne';
  src: url('/fonts/Marianne_2022/fontes-web/Marianne-Regular_Italic.woff2') format('woff2'),
       url('/fonts/Marianne_2022/fontes-web/Marianne-Regular_Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Marianne';
  src: url('/fonts/Marianne_2022/fontes-web/Marianne-Medium.woff2') format('woff2'),
       url('/fonts/Marianne_2022/fontes-web/Marianne-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Marianne';
  src: url('/fonts/Marianne_2022/fontes-web/Marianne-Bold.woff2') format('woff2'),
       url('/fonts/Marianne_2022/fontes-web/Marianne-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Marianne';
  src: url('/fonts/Marianne_2022/fontes-web/Marianne-Bold_Italic.woff2') format('woff2'),
       url('/fonts/Marianne_2022/fontes-web/Marianne-Bold_Italic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Spectral';
  src: url('/fonts/Spectral/Spectral-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Spectral';
  src: url('/fonts/Spectral/Spectral-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Spectral';
  src: url('/fonts/Spectral/Spectral-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Spectral';
  src: url('/fonts/Spectral/Spectral-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Spectral';
  src: url('/fonts/Spectral/Spectral-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@theme {
  --color-institutional: #1B3A6B;
  --font-heading: "Marianne", sans-serif;
  --font-body: "Spectral", serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
}

body {
  font-family: var(--font-body);
}